@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proxima-nova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url('onts/Inter-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: "Inter";
    src: url('fonts/Inter-Medium.otf') format('opentype');
    font-weight: 500;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}


body,
html {
    overflow-x: hidden;
}

/* Базовый контейнер */
.container {
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* Хедер */
.header {
    background-color: #142E43;
    height: 160px;
    padding-top: 10px;
}

/* ЛОГО */
.logo-img {
    position: absolute;
    left: 10px;
    top: 6px;
    width: 144px;
    height: 97px;
}

/* Подпись у логотипа */
.logo-desc {
    position: absolute;
    left: 180px;
    top: 26px;
    width: 199px;
    height: 68px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

/* Решения */
.nav-solutions {
    position: absolute;
    left: 523px;
    top: 43px;
    width: 108px;
    height: 24px;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF;
}

/*  О компании */
.nav-about {
    position: absolute;
    left: 715px;
    top: 43px;
    width: 134px;
    height: 24px;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF;
}

/* Кнопка */
.btn-call {
    position: absolute;
    left: 933px;
    top: 28px;
    width: 217px;
    height: 55px;
    background-color: #FF7A3A;
    border-radius: 8px;
    font-size: 20px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

/* Email */
.header-email {
    position: absolute;
    left: 980px;
    top: 95px;
    width: 167px;
    height: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: right;
}

/* Телефон */
.header-phone {
    position: absolute;
    left: 989px;
    top: 123px;
    width: 158px;
    height: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: right;
}

/* ПЕРВЫЙ БЛОК */
/* Сам блок */
.first-screen {
    position: relative;
    height: 540px;
    background-color: #142E43;
}

/* Заголовок */
.fs-title {
    position: absolute;
    left: 10px;
    top: 61px;
    width: 611px;
    height: 180px;
    margin: 0;
    color: #FFFFFF;
    font-family: Proxima, sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
}

/* Текст */
.fs-text {
    position: absolute;
    left: 10px;
    top: 271px;
    width: 549px;
    height: 48px;
    margin: 0;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
}

/* Кнопка */
.fs-btn {
    position: absolute;
    left: 10px;
    top: 349px;
    width: 300px;
    height: 50px;
    background-color: #FF7A3A;
    border-radius: 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 50px;
}

/* Картинка */
.fs-image {
    position: absolute;
    left: 603px;
    top: -90px;
    width: 847px;
    height: 674px;
    transition: transform 0.25s ease-out;
    pointer-events: none;
}

/* Блок с цифрами */

.numbers-block {
    position: relative;
    height: 240px;
    background-color: #ffffff;
    text-align: center;
}


/* 3 колонка */

.n1-title {
    position: absolute;
    left: 71px;
    top: 40px;
    /*     width: 150px; */
    height: 60px;
    color: #FF7A3A;
    font-family: Inter, sans-serif;
    font-size: 50px;
    font-weight: 400;
}

.n1-text {
    position: absolute;
    left: 40px;
    top: 108px;
    width: 216px;
    height: 72px;
    color: #000000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
}


/* 2 колонгка */

.n2-title {
    position: absolute;
    left: 491px;
    top: 40px;
    width: 178px;
    height: 60px;
    color: #FF7A3A;
    font-family: Inter, sans-serif;
    font-size: 50px;
    font-weight: 400;
}

.n2-text {
    position: absolute;
    left: 451px;
    top: 108px;
    width: 257px;
    height: 72px;
    color: #000000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
}


/* 3 колонка */

.n3-title {
    position: absolute;
    left: 982px;
    top: 40px;
    width: 100px;
    height: 60px;
    color: #FF7A3A;
    font-family: Inter, sans-serif;
    font-size: 50px;
    font-weight: 400;
}

.n3-text {
    position: absolute;
    left: 903px;
    top: 108px;
    width: 257px;
    height: 72px;
    color: #000000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
}

/* Акции, меропрития и новсти  */

.news-block {
    position: relative;
    height: 389px;
}

/* Кнопки */
.tab {
    position: absolute;
    width: 220px;
    height: 44px;
    border-radius: 15px;
    background: transparent;
    border: 2px solid #4D96BF;
    color: #000000;
    font-size: 20px;
    font-family: Inter;
    text-align: center;
    line-height: 44px;
}

.tab-active {
    background: #4D96BF;
    color: #FFFFFF;
}

/* Позиции кнопок */
#tab-news {
    left: 25px;
    top: 56px;
}

#tab-sales {
    left: 490px;
    top: 56px;
}

#tab-events {
    left: 955px;
    top: 56px;
}

/* Текстовые элементы */
.date {
    position: absolute;
    font-size: 16px;
    font-family: Inter;
    font-weight: 200;
    /* ExtraLight */
    color: #000000;
}

.text {
    position: absolute;
    font-size: 20px;
    font-family: Inter;
    font-weight: 300;
    /* Light */
    color: #000000;
    line-height: 1.2;
}

/* Позиции дат */
.col1-date {
    left: 27px;
    top: 132px;
}

.col2-date {
    left: 427px;
    top: 132px;
}

.col3-date {
    left: 898px;
    top: 132px;
}

/* Позиции текстов */
.col1-text {
    left: 27px;
    top: 171px;
    width: 316px;
}

.col2-text {
    left: 427px;
    top: 159px;
    width: 400px;
}

.col3-text {
    left: 898px;
    top: 171px;
    width: 292px;
}

/* Кнопка "Смотреть все" */
.btn-more {
    position: absolute;
    left: 492px;
    top: 274px;
    width: 216px;
    height: 55px;
    background: #FF7A3A;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Inter;
    text-decoration: none;
}

/* О НАС*/
.about-container {
    position: relative;
    height: 330px;
    background: #142E43;
}

.about-section {
    width: 100%;
    background: #142E43;
    height: 330px;
}

/* Заголовок */
.about-title {
    position: absolute;
    left: 10px;
    top: 40px;

    height: 54px;

    color: #FFFFFF;
    font-size: 45px;
    font-family: Proxima, sans-serif;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    white-space: nowrap;
}

/* текст */
.about-text {
    position: absolute;
    left: 10px;
    top: 114px;

    width: 662px;

    color: #FFFFFF;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}

/* Картинка справа */
.about-img {
    position: absolute;
    left: 703px;
    top: -66px;

    width: 517px;
    height: 466px;
}


.features {
    width: 100%;
    background: #142E43;
    padding: 40px 0;
    box-sizing: border-box;
}

/* Контейнер свайпера */
.features-swiper {
    width: 1200px;
    margin: 0 auto;
}

/* Swiper wrapper — только flex! */
.features-swiper .swiper-wrapper {
    display: flex;
    flex-direction: row;
}

/* Слайды */
.features-swiper .swiper-slide {
    width: 355px !important;
    height: 147px !important;
    flex-shrink: 0;
    display: flex;
}

/* Карточка */
.feature-card {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.3;
}

.help {
    width: 100%;
    height: 367px;
    background: #FFFFFF;
    position: relative;
}

.help-container {
    width: 1200px;
    height: 367px;
    margin: 0 auto;
    position: relative;
}

/* Левая часть */
.help-left {
    position: absolute;
    left: 14px;
    top: 70px;
    width: 617px;
}

.help-title {
    font-family: Inter, sans-serif;
    font-size: 35px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
    color: #000;
}

.help-subtext {
    margin-top: 25px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    width: 430px;
    line-height: 1.2;
    color: #000;

}

/* Форма */
.help-form {
    position: absolute;
    left: 759px;
    top: 40px;
    width: 431px;
    height: 288px;
}

.help-label {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    display: block;
    margin-bottom: 5px;
}

.help-input {
    width: 100%;
    height: 50px;
    padding: 0 15px;

    border: 1px solid #142E43;
    border-radius: 15px;

    font-size: 16px;
    font-family: Inter, sans-serif;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Чекбокс */
.help-checkbox {
    display: flex;
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    margin-bottom: 20px;
}

.help-checkbox input {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    accent-color: #142E43;
}

/* Кнопка */
.help-btn {
    width: 260px;
    height: 60px;
    background: #FF7A3A;
    border-radius: 10px;
    border: none;

    font-family: Inter, sans-serif;
    font-size: 20px;
    color: #FFFFFF;

    cursor: pointer;
}

/* Картинка справа */
.help-img {
    position: absolute;
    left: 1020px;
    top: -69px;
    width: 463px;
    height: 417px;

    z-index: 0;
    filter: blur(4px);
    opacity: 0.7;
}

/* ПАРТНЕРЫ */

/* Заголовок */
.partners-block {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.partners-title {
    font-family: Proxima, sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-left: 49px;
}

/* Переключатели */
.partners-switch {
    display: flex;
    gap: 45px;
    margin: 0 auto 40px auto;
    justify-content: center;
}

.psw {
    width: 358px;
    height: 44px;
    border-radius: 8px;
    font-size: 20px;
    font-family: Inter, sans-serif;

    border: 2px solid #4D96BF;
    background: none;
    cursor: pointer;
}

.psw.active {
    background: #4D96BF;
    color: #fff;
}

/* Сетка карточек */
.partners-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 355px);
    grid-template-rows: repeat(2, 147px);
    gap: 15px 31px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* Карточка */
.partner-card {
    width: 355px;
    height: 147px;
    background: #FFFFFF;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

/* Лого  */
.partner-card img {
    max-width: 90%;
    max-height: 70%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

/* Кнопка */
.partners-btn {
    display: block;
    width: 300px;
    height: 50px;

    margin: 0 auto 40px auto;

    background: #FF7A3A;
    color: #fff;

    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;

    text-decoration: none;
    font-family: Inter, sans-serif;
}



/* Контейнер */
.equip-block {
    margin: 0 auto;
    height: 523px;
}

/* Заголовок */
.equip-title {
    font-family: Proxima, sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-left: 49px;
    margin-bottom: 40px;
}

/* Переключатели */
.equip-switch {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-bottom: 40px;
}

.eqb {
    width: 358px;
    height: 44px;
    border-radius: 8px;
    font-size: 20px;
    font-family: Inter, sans-serif;

    border: 2px solid #4D96BF;
    background: none;
    cursor: pointer;
}

.eqb.active {
    background: #4D96BF;
    color: #fff;
}

/* Сетка карточек */
.equip-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 30px;
    margin-bottom: 60px;
}

/* Карточка */
.equip-card {
    width: 355px;
    height: 147px;
    background: #FFFFFF;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

/* Лого */
.equip-card img {
    max-width: 90%;
    max-height: 70%;
    object-fit: contain;
}

/* Кнопка */
.equip-btn {
    display: block;
    width: 300px;
    height: 50px;
    background: #FF7A3A;
    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 50px;

    border-radius: 8px;
    margin: 0 auto;
    text-decoration: none;
}


/* КЛИЕНТЫ */
.clients-block {
    width: 100%;
    background: #142E43;
    padding-top: 40px;
    padding-bottom: 40px;
}


.clients-title {
    font-family: Proxima, sans-serif;
    font-size: 45px;
    font-weight: 400;
    color: #fff;

    margin-left: 10px;
    margin-bottom: 35px;
}

/* Маркировочная лента */
.marquee {
    width: 100%;
    height: 226px;
    overflow: hidden;
    margin-bottom: 15px;
}

.marquee-inner {
    display: flex;
    width: max-content;
}

.marquee-group {
    display: flex;
    gap: 12px;
    padding-right: 12px;
}

.client-card {
    width: 355px;
    height: 147px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;

    object-fit: contain;
}

.client-card img {
    max-width: 90%;
    max-height: 80%;
    object-fit: contain;
    display: block;
}

/* Анимации */
.marquee-left .marquee-inner {
    animation: marquee-left 40s linear infinite;
}

.marquee-right .marquee-inner {
    animation: marquee-right 40s linear infinite;
}

@keyframes marquee-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes marquee-right {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}


/* ФОРМА 2 */
.efficiency-block {
    width: 100%;
    height: 523px;
    background: #142E43;
    position: relative;
}


/* Заголовок */
.eff-title {
    position: absolute;
    left: 10px;
    top: 120px;

    width: 664px;
    font-family: Inter, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
}

/* Форма */
.eff-form {
    position: absolute;
    left: 759px;
    top: 39px;
    width: 431px;
}

.form-field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-field label {
    font-size: 20px;
    font-family: Inter, sans-serif;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.form-field input {
    height: 50px;
    border-radius: 15px;
    border: 1px solid #142E43;
    padding: 0 15px;

    color: #142E43;
    background: #FFFFFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
}

/* Чекбокс */
.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

.checkbox input {
    margin-right: 10px;
}

/* Кнопка */
.eff-btn {
    width: 300px;
    height: 50px;
    border-radius: 15px;
    border: none;

    background: #FF7A3A;
    color: #FFFFFF;

    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 500;

    cursor: pointer;
}

.tri-left {
    position: absolute;
    left: -420px;
    top: -30px;
    width: 463px;
    height: 417px;
    filter: blur(4px);
    pointer-events: none;
}

/* Правый треугольник */
.tri-right {
    position: absolute;
    left: calc(1200px + 100px);
    top: 7px;
    width: 463px;
    height: 417px;
    filter: blur(4px);
    pointer-events: none;
}


/* КОНТАКТЫ */
.contacts-block {
    width: 100%;
    height: 530px;
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
}


.contacts-left {
    position: absolute;
    top: 40px;
    left: 10px;
}

.contacts-title {
    font-family: Proxima, sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
}

.city-block {
    margin-bottom: 25px;
}

.city-title {
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.city-address {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 4px;
}

.contact-email,
.contact-phone {
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
}

.contact-email {
    margin-top: 25px;
}

.contacts-right {
    position: absolute;
    top: 40px;
    left: 780px;
}

.support-title {
    font-family: Proxima, sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
}

.support-mail {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    text-decoration: none;
}

.support-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.support-item.second {
    margin-top: 14px;
}

.tg-icon {
    width: 29px;
    height: 24px;
    margin-right: 10px;
}

.tg-text {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    text-decoration: none;
}

/* Официальный канал */
.official-title {
    margin-top: 40px;
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.channels {
    display: flex;
    gap: 11px;
    margin-top: 15px;
}

.channel-icon {
    width: 33px;
    height: 33px;
}

/* Кнопка */
.contact-btn {
    display: block;
    width: 217px;
    height: 55px;
    background: #FF7A3A;
    border-radius: 15px;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 55px;

    text-decoration: none;
    margin-top: 45px;
}

/* Картинка справа */
.support-illustration {
    position: absolute;
    width: 517px;
    height: 466px;

    left: 833px;
    top: 134px;

    object-fit: contain;
    pointer-events: none;
}


.footer-block {
    width: 100%;
    height: 390px;
    /* как ты указала */
    padding-top: 20px;
}

.footer-container {
    width: 1200px;
    /* стандартный контейнер Тильды */
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 120px;
    /* расстояния между столбцами как в макете */
}

/* Колонки */
.footer-col {
    display: flex;
    flex-direction: column;
}

/* Лого */
.footer-logo {
    width: 136px;
    height: 91px;
    margin-bottom: 20px;
}

/* © 2025 */
.footer-copy {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
}

/* Заголовки столбцов */
.footer-title {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

/* Ссылки */
.footer-link {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    /* расстояние точно 10px */
    text-decoration: none;
    color: #000;
}

.footer-link:hover {
    opacity: 0.7;
}


.footer-legal {
    width: 100%;
    height: 120px;
    background-color: #1e1e3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-legal-container {
    text-align: center;
    color: #ffffff;
    font-family: Inter, sans-serif;
}

.footer-legal-year {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-legal-text {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 400;
}